<a href="https://colab.research.google.com/github/ashpou1/discrete-math/blob/main/logic2nd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##LOGIC

I have certain plan for this week. I do not have alot of college stuff to get done this week. I have plans like going to Arkansa to see fall color in Ochita montains, go to Dallas to get me some gorcery, finish my homework problems of Numbers, finish my project of fencinng my front yard, finish my garage project to convert in to my gym room, get my dog to park everyday. So i will call them $a$,$b$,$c$,$d$,$e$ respectively. so lets see

In [ ]:
WillgotoArkansas = False
WillgotoDallas = True
Finishmyfrontyard = True
Finishmygarage = False
Finishmynumbers = True

lets use "NOT" to find the truth value of $\lnot(a)$

In [ ]:
not(WillgotoArkansas)

True

Lets use "`AND`" to find the truth value of 

$$b \land e$$

In [ ]:
(WillgotoDallas) and (Finishmynumbers)

True

Lets use "`OR`" to find the truth value of 

$$c \lor d$$

In [ ]:
(Finishmyfrontyard) or (Finishmygarage)

True

Lets do some equivalent of $WillgotoDallas$ to $WillgotoArkansas$

$$b \Rightarrow a$$

In [ ]:
def implies(b,a):
  return not(b) or (a)
implies(WillgotoDallas,WillgotoArkansas)

False

lets work for truth table for $not(willgotoDallas NOT willgotoArknasas)equivalent to (WillgotoArkansasORfinishmyfrontyard)$

$$\lnot(a\oplus b) \Rightarrow (b\lor c)$$:

In [ ]:
values = [True,False]
table = []

for c in values:
  for b in values:
    for a in values: 
      row =[]
      row.append(a)
      row.append(b)
      row.append(c)
      row.append(a ^ b)
      row.append(not(a ^ b))
      row.append(b or c)
      row.append(implies(not(a ^ b),b or c))
      table.append(row)
print(table)

[[True, True, True, False, True, True, True], [False, True, True, True, False, True, True], [True, False, True, True, False, True, True], [False, False, True, False, True, True, True], [True, True, False, False, True, True, True], [False, True, False, True, False, True, True], [True, False, False, True, False, False, True], [False, False, False, False, True, False, False]]

In [ ]:
import pandas as pd

df = pd.DataFrame(table,columns = ['c','b','a','$a\oplus b$','$\lnot(a\oplus b)$','$b\lor c$','$\lnot(a\oplus b) \Rightarrow (b\lor c)$'] )
df

       c      b  ...  $b\lor c$  $\lnot(a\oplus b) \Rightarrow (b\lor c)$
0   True   True  ...       True                                      True
1  False   True  ...       True                                      True
2   True  False  ...       True                                      True
3  False  False  ...       True                                      True
4   True   True  ...       True                                      True
5  False   True  ...       True                                      True
6   True  False  ...      False                                      True
7  False  False  ...      False                                     False

[8 rows x 7 columns]